.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  color: white;
}

.footer span {
  font-weight: bold;
  color: #61dafb;
}

a {
  color: aliceblue;
  margin-left: 1rem;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}